body{
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 70px;
    font-weight: bold;
}
.container{
    display: flex;
    background-color: black;
    color: aliceblue;
}

.half-widht{
    margin-top: 10px;
    width: 50%;
    text-align: left;
    padding-left: 5%;
  
    
}
#left-container{
    padding-top: 200px;
   
}
.img-banner{
    width: 100%;
}
.button{
    background-color: rgb(243, 50, 50);
    padding: 10px 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-bottom: 10px;
    
    
}
 a:hover{
    color: azure;
    background-color: black;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    transition: 2s;

}
.items{
    display: flex;
    margin-top: 75px;
}
#grids{
    width: 80%;
    justify-content: center;
    align-items: center;
}

   


#sidebar{
    background-color: rgb(0, 0, 0);
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;


    
    
    
}




.sidebar-items {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 30px;
    text-transform: uppercase;
   

    
    
}
#blog-button{
    background-color: rgb(175, 7, 7);
}



                /*------------------------------------------
                 content---------------------------- */

       .grids{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px ;
       }  
      .upcoming-match{
        
        border: 1px solid gray;
        border-radius: 10px;
        padding: 40px 40px;
        text-align: center;
        
      } 
      .flag{
        width: 100%;
      }        

.titel{display: flex;
    justify-content: center;
   
   
   
}
.titel p{
   
    text-align: center;
    font-size: 20px;
}

/* ---------------------
footer
----------------- */
.footer{
    width: 100%;
    background-color: black;
    height: 400px;
    color: aliceblue;
}
.footer h2{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}
 .footer-menu{
    display: flex;
    
    justify-content: center;
    font-size: 20px;
    

 }
 .footer-menu h3{
    padding-left: 20px;
    padding-right: 20px;
 }
 .footer-icon{
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
 }
 .footer-icon i{
    padding-left: 20px;
    padding-right: 20px;
 }


 
 /*-----------------------------
  media query 
------------------------------------*/

/*---------------------------
 for mobile 
 ------------------------------*/


 @media screen  and ( max-width:576px) {
    .container{
        width: 100vh;
        flex-flow: column;
    align-items: center;
    
    justify-content: center;
    
        
    }

    h1{
        font-size: 30px;
        font-weight: bold;}


        .half-widht{
            text-align: center;
            margin-top: 5px;
            
           
           
            
            
            padding-right: 30%;
            
        
    }
    .items{
        display: flex;
        margin-top: 30px;
        flex-direction:row;
        flex-direction: column ;
        justify-content: center;
        }

    #sidebar{
        margin-top: 100px;
  background-color:white;
   width: 100%;
    border: none;
    border-radius: 20px;
    
    height: 100px;
   
    
    
        
    }
    #grids{
      margin-top: 100px;
        width: 100%;
        justify-content: center;
        align-items: center;
   
        padding-bottom: 30px;}
        
          
    .grids{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        width: 100vw;
        background-color: black;
        height: 100%;
        color: aliceblue;
        padding-right: 30px;


}


.footer-menu{
   
    display: flex;
   flex-direction: column;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}


}
 


 /* -----------------------
 for tablet
 ---------------------- */

@media screen and ( min-width:577px ) and ( max-width:992px) {
    
    .grids{
        grid-template-columns: repeat(2,1fr);
}
